#title {
  background-color: #ff4c68;
}
.container-fluid {
  padding: 3% 15%;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
  margin-bottom: 5%;
}
.iphone {
  transform: rotate(35deg);
  margin-top: 5%;
}
.row {
  margin-top: 10%;
}
nav {
  font-size: 150%;
}
.navbar-brand {
  font-size: 200%;
}
